* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --index: calc(1vw + 1vh);
    --swiper-theme-color: #969ba1;
    --swiper-navigation-size: 35px;
    --swiper-navigation-sides-offset: 50px;
    --swiper-pagination-bullet-size: 15px;
    --swiper-pagination-bottom: 35px;
    --swiper-pagination-bullet-inactive-color: #d0d0d0;
}
body {
    background-color: #000;
    color: #fff;
}

/* Menu */

.container {
    margin: auto;
    max-width: 840px;
}
.container-top {
    display: flex;
    justify-content: space-between;
}
.top-line {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 1.7rem 0;
}
.logo {
    border: 3px solid #E1E6F7;
    border-radius: 10em;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .75;
}
.logo img{
    width: 25px;
    height: auto;
}
.main-mnu {
    display: flex;
    margin-top: 15px;
    font-size: 19px;
    margin-right: -16px;
}
.main-mnu li {
    list-style: none;
}
.main-mnu a {
    color: #bbbec9;
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: 200;
    outline: none;
}
.main-mnu a:hover {
    text-decoration: underline;
}


/* Slider */

.slider {
    height: 100vh;
    box-shadow: inset 0 50px 50px #000, inset 0 -50px 50px #000;
}
.slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide__content {
    text-align: center;
    opacity: 0;
    transition: opacity .25s ease;
}
.swiper-slide-active .slide__content {
    opacity: 1;
}
.slide__content h2 {
    font-size: calc(var(--index) * 5);
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * 1.6);
    margin-bottom: calc(var(--index) * 2.2);
    position: relative;
}
.slide__content h2::after {
    content: "";
    height: 1px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.35);
    position: absolute;
    left: 40%;
    bottom: calc(var(--index) * -1);
}
.slide__content p {
    text-transform: uppercase;
    font-size: calc(var(--index) * .9);
    color: rgba(255, 255, 255, .8);
    letter-spacing: calc(var(--index) * .23);
    margin-bottom: calc(var(--index) * 1.75);
}
button {
    --button-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 9px 40px;
    font-size: 20px;
    border-radius: 10em;
    background-color: transparent;
    border: 2px solid var(--button-color);
    color: var(--button-color);
}
.slider-navigation > * {
    border: 1.5px solid var(--swiper-theme-color);
    border-radius: 10em;
    width: 55px;
    height: 55px;
}
.background-video {
    position: fixed;
    width: 95%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: opacity 2s ease-out;
}
.background-video .change {
    opacity: 1;
}
































