# IDE
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# Build output (если появится)
dist/
build/

# Env/config
.env
.env.*

# Logs
*.log

# Mac OS metadata
*.DS_Store

# Optional lockfiles
*.tgz
